@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-sans: "Source Sans 3", system-ui, sans-serif;

    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 35 92% 51%;
    --primary-foreground: 210 40% 98%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 35 92% 51%; /* Using primary color for accent */
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 35 92% 51%; /* Using primary color for ring */
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .bg-background {
    @apply bg-[hsl(var(--background))];
  }
  .text-foreground {
    @apply text-[hsl(var(--foreground))];
  }
  .animation-pause {
    animation-play-state: paused;
  }
}

* {
  font-family: var(--font-sans);
}

/* .grayscalea {
  filter: gray;
  -webkit-filter: grayscale(0.5);
  filter: grayscale(0.5);
}

.grayscalea:hover {
  cursor: pointer;
  -webkit-filter: grayscale(0);
  filter: none;
} */
